body {
	padding-top: 60px;
}

ul, li {
	list-style:none;
}

#accordion div {
	max-height:150px;
}

#artist {
	width:170px;
}

#submit {
	margin-top:20px;
	width:100px;
}

#license-info {
	margin-top:21px;
}

a.clear {
	font-size:80%;
	color:#00c;
}

#all-licenses {
	float:right;
}

.row  {
	overflow:hidden;
}

.row label {
	float:left;
	width:100px;
	text-align:left;
}

.row input {
	float:right;
	margin-top:10px;
}

#playlist {
	width:434px;
	margin:auto;
}

#playlist li {
	height:40px;
	padding:10px;
	margin:5px;
	background:#ccc;
	cursor:pointer;
}

li.item {
	overflow:hidden;
}

li.item .left {
	float:left;
	max-width:290px;
	font-size:85%;
	line-height:13px;
}

li.item .right {
	float:right;
}

.meta {
	display:none;
}

div.jp-audio {
	margin:auto;
}

#search-status {
	margin-top:10px;
	text-align:center;
}

.topbar-inner, .topbar .fill {
	background-image:none;
	background:#191818;
}

#echo-nest {
	float:right;
	padding-top:3px;
}

a.download {
	font-size:85%;
	display:inline-block;
	margin-top:5px;
}

#wfmu-logo {
	margin-left:28px;
}

.hero-unit {
	padding-top:10px;
	background:#fff;
}
